
  .container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .title {
    flex: 1;
    font-weight: 800;
    color: #4f4747;
    justify-content: center;
    margin-left: 6rem;
    margin-bottom: 2rem;
  }