.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .header {
    padding: 1rem;
    border-bottom: 2px solid #4f4747;
    color: #4f4747;
  }
  
  .list {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: #4f4747;
  }

  .title {
    flex: 1;
    font-weight: 800;
    color: #4f4747;
  }
  
  .button {
    cursor: pointer;
    color: #4f4747;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #777764;
    text-transform: uppercase;
  }